[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
environs = "*"
logzero = "*"
pyjwt = "*"
psycopg2 = "*"
gunicorn = "*"
alembic = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.8"
